In [23]:
# Be sure you installed dfply
!pip install dfply

Requirement already satisfied: dfply in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (0.3.3)
Requirement already satisfied: pandas in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from dfply) (1.1.2)
Requirement already satisfied: numpy in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from dfply) (1.18.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from pandas->dfply) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from pandas->dfply) (2019.3)
Requirement already satisfied: six>=1.5 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.14.0)

In [13]:
# Be sure you installed dfply
!pip install rpy2

Requirement already satisfied: rpy2 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (3.4.2)
Requirement already satisfied: jinja2 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from rpy2) (2.11.1)
Requirement already satisfied: tzlocal in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from rpy2) (2.1)
Requirement already satisfied: pytz in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from rpy2) (2019.3)
Requirement already satisfied: cffi>=1.10.0 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from rpy2) (1.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from jinja2->rpy2) (1.1.1)
Requirement already satisfied: pycparser in /home/sandrews/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from cffi>=1.10.0->rpy2) (2.19)

# Select, Filter, and Mutate

In this lecture, we will look at three important actions used to process data frames.  While each framework uses different names for these functions, we will use the names from the `R` library `dplyr`, namely `select`, `mutate`, and `filter`.  The most important takeaway will be that, regardless of framework or scale, we can process data frames in the same way by applying the same sequence of data verbs.

## R and Python can interact!

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
#!pip install rpy2 tzlocal
import rpy2
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [16]:
%%R
rnorm(5, 2, 3)

[1] -1.1183218  0.6366957 -6.6388560  4.5575973  0.8731348

## We love dplyr!

In [17]:
%%R 
library(dplyr)
artists <- read.csv('./data/Artists.csv')

(artists %>%
  select(BeginDate, 
         DisplayName, 
         Nationality) %>%
  filter(BeginDate > 0) %>%
  head) -> output
output

R[write to console]: Error in library(dplyr) : there is no package called ‘dplyr’


Error in library(dplyr) : there is no package called ‘dplyr’

## What makes `dplyr` so great?

* Focus on data verbs
* Pipes lead to code that is
    * More readable
    * Easy to compose and debug

## Set up

Let's read in a data set in each of the three frameworks

In [18]:
import pandas as pd
from dfply import *
heroes = pd.read_csv('./data/heroes_information.csv')

## Selecting Columns

<img src="./img/select.png">

The first verb, `select` 

* filters the *columns*
* At the core of `SQL` statements

## How to select
 pipe (`>>`) into `select` and use `X.column_name` or `X['column name']`

In [19]:
(heroes
 >> select(X.name, 
           X['Gender']
          )
 >> head
)

          name Gender
0       A-Bomb   Male
1   Abe Sapien   Male
2     Abin Sur   Male
3  Abomination   Male
4      Abraxas   Male

## Filtering Rows

<img src="./img/filter.png">

The next verb, `filter` 

* filters the *rows*
* is related to the `SQL` `WHERE` clause

## How to filter

* pipe (`>>`) into `filter_by` 
* First argument is a boolean expression
* Reference columns with `X.column_name` or `X['column name']`

In [20]:
(heroes 
 >> filter_by(X.Gender == 'Male') 
 >> head
)

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Chaining Data Verbs

* Processing df $\rightarrow$ chaining data verbs
* Accomplished through pipes/dot-chains

## Example 1 - `select` + `filter`

In [21]:
(heroes 
 >> filter_by(X.Gender == 'Male') 
 >> select(X.name, X.Gender, X.Weight) 
 >> head
)

          name Gender  Weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male   -99.0

## Example 2 - `filter` + `filter`

Note that chaining `filter`s is an `and` operation.

####  `pandas` + `dfply`

In [25]:
import dfply

(heroes >>
   select(X.name, X.Gender, X.Weight) >>
   filter_by(X.Gender == 'Male') >>
   filter_by(X.Weight > 0) >>
   head)

            name Gender  Weight
0         A-Bomb   Male   441.0
1     Abe Sapien   Male    65.0
2       Abin Sur   Male    90.0
3    Abomination   Male   441.0
5  Absorbing Man   Male   122.0

## <font color="red"> Exercise 2.2.1: Blue-eyed Heroes </font>

Create a query that

1. Selects the name, Gender, and Eye Color columns
2. Filters on eye_color == 'blue'

In [26]:
heroes.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [50]:
heroes_newname =  heroes.rename(columns={"Eye color": "Eyecolor"})

heroes_newname.head()

,Unnamed: 0,name,Gender,Eyecolor,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [51]:


(heroes_newname >>
   select(X.name, X.Gender, X.Eyecolor) >>
   filter_by(X.Eyecolor == 'blue') >>
   head)

            name Gender Eyecolor
1     Abe Sapien   Male     blue
2       Abin Sur   Male     blue
4        Abraxas   Male     blue
5  Absorbing Man   Male     blue
6    Adam Monroe   Male     blue

<img src="./img/mutate.png">

## Constructing New Columns

The third verb, `mutate` 

* Creates new columns
* Changes existing columns

## How to mutate

*  pipe (`>>`) into `mutate`
* First argument is a transformational expression
* Reference columns with `X.column_name` or `X['column name']`

## Example 3 - Converting Weight to kilograms

Currently, the weight column is in pounds.  Let's convert to kilograms.

In [32]:
(heroes 
 >> select(X.name, 
           X.Gender, 
           X.Weight) 
 >> mutate(Weight_kg = X.Weight/2.2046) 
 >> head
)

          name Gender  Weight   Weight_kg
0       A-Bomb   Male   441.0  200.036288
1   Abe Sapien   Male    65.0   29.483807
2     Abin Sur   Male    90.0   40.823732
3  Abomination   Male   441.0  200.036288
4      Abraxas   Male   -99.0  -44.906105

## Referencing a new column

Each framework provides a way to reference a new column.

* **Create:** Use `mutate(new_col = ...)`
* **Later reference:** Use `X.new_col` or `X['new_col']`

## Example 4 - Converting Weight to kilograms and filter

Let's find all heroes with a weight under 100kg.

In [33]:
(heroes 
 >> select(X.name, X.Gender, X.Weight) 
 >> mutate(Weight_kg = X.Weight/2.2046) 
 >> filter_by(X.Weight_kg < 100) 
 >> head
)

            name Gender  Weight  Weight_kg
1     Abe Sapien   Male    65.0  29.483807
2       Abin Sur   Male    90.0  40.823732
4        Abraxas   Male   -99.0 -44.906105
5  Absorbing Man   Male   122.0  55.338837
6    Adam Monroe   Male   -99.0 -44.906105

## <font color="red"> Exercise 2.2.2: Tall Heroes </font>

Create a query that

1. Selects the name, Gender, and Height columns
2. Compute the height in inches.
    * Check [here](https://www.kaggle.com/claudiodavi/superhero-set) to determine the current units.
3. Filters on height_in > 72

In [55]:
#height is measured in centimeters

(heroes 
 >> select(X.name, X.Gender, X.Height) 
 >> mutate(Height_kg = X.Height/2.54) 
 >> filter_by(X.Height_kg > 72) 
)

               name Gender  Height   Height_kg
0            A-Bomb   Male   203.0   79.921260
1        Abe Sapien   Male   191.0   75.196850
2          Abin Sur   Male   185.0   72.834646
3       Abomination   Male   203.0   79.921260
5     Absorbing Man   Male   193.0   75.984252
..              ...    ...     ...         ...
724  Wyatt Wingfoot   Male   196.0   77.165354
727     Yellow Claw   Male   188.0   74.015748
728    Yellowjacket   Male   183.0   72.047244
730            Ymir   Male   304.8  120.000000
733            Zoom   Male   185.0   72.834646

[275 rows x 4 columns]